workflow_final.json
{
  "name": "AI Statement Extractor - Working Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-statement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "extract-statement"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file"
      },
      "id": "extract-pdf-node",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "source": "defineBelow",
        "prompt": "Extract the account holder's metadata and the transaction table from the text below. Return it as a JSON object with 'metadata' and 'transactions' keys.\n\nInstructions:\n1. Find Account Title, Number, IBAN, and Currency.\n2. Extract all transaction rows with Date, Description, Amount, and Balance.\n3. Return ONLY the raw JSON.\n\nText:\n{{ $json.text }}"
      },
      "id": "llm-chain-node",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [450, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0];\nlet rawData = input.json.text || input.json.output || input.json.response || (input.json.message && input.json.message.content) || \"\";\n\nif (!rawData || (typeof rawData === 'string' && rawData.trim() === \"\")) {\n    return [{ json: { ERROR: \"AI returned no data.\" } }];\n}\n\nlet result = [];\ntry {\n    if (typeof rawData === 'string') {\n        const cleanStr = rawData.replace(/```json|```/g, \"\").trim();\n        const match = cleanStr.match(/\\[[\\s\\S]*\\]|{[\\s\\S]*}/);\n        result = match ? JSON.parse(match[0]) : JSON.parse(cleanStr);\n    } else {\n        result = rawData;\n    }\n\n    if (!Array.isArray(result) && typeof result === 'object') {\n        const transactions = result.transactions || result.data || result.rows || [];\n        const metadata = result.metadata || result.account_details || {};\n        if (Array.isArray(transactions)) {\n            result = transactions.map(t => ({ ...metadata, ...t }));\n        }\n    }\n} catch (e) {\n    result = [{ raw_ai_response: rawData }];\n}\n\nconst finalArray = Array.isArray(result) ? result : [result];\nreturn finalArray.map(item => ({ json: item }));"
      },
      "id": "code-node",
      "name": "Clean JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "operation": "toBinaryFile",
        "fileFormat": "xlsx"
      },
      "id": "excel-node",
      "name": "Convert to File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [950, 0]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "data"
      },
      "id": "respond-node",
      "name": "Respond with Excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1150, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]] },
    "Extract from File": { "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]] },
    "Basic LLM Chain": { "main": [[{ "node": "Clean JSON", "type": "main", "index": 0 }]] },
    "Clean JSON": { "main": [[{ "node": "Convert to File", "type": "main", "index": 0 }]] },
    "Convert to File": { "main": [[{ "node": "Respond with Excel", "type": "main", "index": 0 }]] }
  }
}
