workflow_final.json
{
  "name": "AI Statement Extractor - Working Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-statement",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "extract-statement"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file"
      },
      "id": "extract-pdf-node",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "source": "defineBelow",
        "prompt": "Extract all transaction rows from the following bank statement text and return it as a JSON array of objects. \n\nInstructions:\n1. Include Date, Description, Amount, and the Balance for each row.\n2. Ensure the JSON keys are consistent.\n3. Return ONLY the raw JSON array.\n\nText:\n{{ $json.text }}"
      },
      "id": "llm-chain-node",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [450, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nlet raw = input.text || input.output || input.response || input;\n\nif (typeof raw === 'string') {\n    const match = raw.match(/\\[[\\s\\S]*\\]/);\n    raw = match ? JSON.parse(match[0]) : JSON.parse(raw);\n}\n\nconst data = Array.isArray(raw) ? raw : [raw];\nreturn data.map(item => ({ json: item }));"
      },
      "id": "code-node",
      "name": "Clean JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "operation": "toBinaryFile",
        "fileFormat": "xlsx"
      },
      "id": "excel-node",
      "name": "Convert to File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [950, 0]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "data"
      },
      "id": "respond-node",
      "name": "Respond with Excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1150, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]] },
    "Extract from File": { "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]] },
    "Basic LLM Chain": { "main": [[{ "node": "Clean JSON", "type": "main", "index": 0 }]] },
    "Clean JSON": { "main": [[{ "node": "Convert to File", "type": "main", "index": 0 }]] },
    "Convert to File": { "main": [[{ "node": "Respond with Excel", "type": "main", "index": 0 }]] }
  }
}
